@if (trendMovie) {
  <div class="main w-100 m-0 p-0 d-flex justify-content-start align-items-center"
       [style.background-image]="'url(' + tmdbService.getImageUrl(trendMovie.poster_path!, 'original') + ')'" >
    <div class="ms-5 d-flex flex-column justify-content-start align-items-start w-25">
      <h1 class="h3 bg-black rounded-3 p-2">{{ trendMovie.title }}</h1>
      <div class="d-flex mt-3">
        <a class="btn btn-lg btn-dark bg-white me-3 d-flex align-items-center px-4 py-2">
          <fa-icon class="me-3" icon="play" size="2x"></fa-icon>
          <div>Lecture</div>
        </a>
        <a class="btn btn-lg btn-light d-flex align-items-center px-4 py-2">
          <fa-icon class="me-3" icon="circle-info" size="2x"></fa-icon>
          <div (click)="tmdbService.openMoreInfos(trendMovie.id)">Plus d'infos</div>
        </a>
      </div>
    </div>
  </div>
}
