@if (trendingMovies) {
  <div class="d-flex align-items-center ms-5 overflow-x-auto container-movies">
    @for (trend of trendingMovies; track trend.id) {
      <app-movie-card [movie]="trend"></app-movie-card>
    }
  </div>
}

@if (moviesByGenre) {
  <div class="d-flex align-items-center ms-5 overflow-x-auto container-movies">
    @for (movie of moviesByGenre; track movie.id) {
      <app-movie-card [movie]="movie"></app-movie-card>
    }
  </div>
}
