@if (movie && movie.id) {
  <div class="card">
    <img [src]="tmdbService.getImageUrl(movie.poster_path, 'w500')"
    class="card-img-top" alt=>
    <div class="card-body">
      <div class="d-flex justify-content-between mb-3">
        <span class="badge bg-primary">Réalisé le: {{ movie.release_date | date: 'mediumDate' }}</span>
        <span class="badge bg-primary">Langue d'origine: {{ movie.original_language }}</span>
        <span class="badge bg-primary">Popularité: {{ movie.popularity }}</span>
      </div>
      <h5>Résumé</h5>
      <p class="card-text">{{ movie.overview }}</p>
    </div>
  </div>
}
